{% extends "base.html" %} {% block title %}Patients{% endblock %}
{% block content %}
    <table id="data" class="table table-striped">
        <thead>
        <tr>
            {% for header in headings %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
        </thead>
    </table>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            var table = $('#data').DataTable({
                ajax: '/api/patients-table',
                columns: [
                    {data: 'Id', visible: false},
                    {data: 'Имя'},
                    {data: 'Фамилия'},
                    {data: 'Отчество'},
                    {data: 'Полис страхования'},
                    {data: 'Дата'},
                    {data: 'Время'}
                ],
            });
        });
    </script>
{% endblock %}