{% extends "base.html" %} {% block title %}Doctors{% endblock %}
{% block content %}
    <div class="list-group" id="specs">
        {% for doctor in doctors %}
            <button class="list-group-item list-group-item-action">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-primary">{{ doctor['Specialization'] }}
                        <small class="hidden" style="visibility:hidden">{{ doctor['Id'] }}</small>
                    </li>
                    <li class="list-group-item">{{ doctor['Name'] }} {{ doctor['Surname'] }} {{ doctor['Patronymic'] }}</li>
                    <small style="padding-left: 16px">{{ doctor['Cabinet'] }}</small>
                </ul>
            </button>
            <br/>
        {% endfor %}
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="/specializations">
            <button class="align-self-end btn btn-primary ">&#8592;</button>
        </a>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $('#specs').on('click', 'button', function () {
            fetch("/fetch-doctors", {
                method: "POST",
                body: JSON.stringify({id_doctor: $(this).find('small.hidden').text()}),
            }).then((_res) => {
                window.location.href = '/date-picker'
            });
        });
    </script>
{% endblock %}
