{% extends "base.html" %} {% block title %}Home page{% endblock %}

{% block content %}
    <table id="data" class="table table-striped">
        <thead>
        <tr>
            {% for header in headings %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
        </thead>
    </table>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            var table = $('#data').DataTable({
                ajax: '/api/data',
                columns: [
                    {data: 'Id', visible: false},
                    {data: 'Name'},
                    {data: 'Surname'},
                    {data: 'Patronymic'},
                    {data: 'Specialization'},
                    {data: 'Day'},
                    {data: 'Date'},
                    {data: 'Time'},
                    {data: 'Cabinet'},
                ],
            });
            $('#data tbody').on('click', 'tr', function () {
                fetch("/get_row", {
                    method: "POST",
                    body: JSON.stringify(table.row(this).data()),
                }).then((_res) => {
                    window.location.href = '/confirm'
                });
            });
        });
    </script>
{% endblock %}
