{% extends "base.html" %} {% block title %}Registrations{% endblock %}

{% block content %}
    <table id="data" class="table table-striped">
        <thead>
        <tr>
            {% for header in headings %}
                <th>{{ header }}</th>
            {% endfor %}
            <th>Отменить запись</th>
        </tr>
        </thead>
    </table>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            var table = $('#data').DataTable({
                ajax: '/api/reg-query',
                columns: [
                    {data: 'Id', visible:false},
                    {data: 'Имя'},
                    {data: 'Фамилия'},
                    {data: 'Отчество'},
                    {data: 'Специализация'},
                    {data: 'Дата'},
                    {data: 'Время'},
                    {defaultContent: '<button class="btn btn-danger">&times;</button>', orderable:false, searchable:false, },
                ],
            });
            $('#data').on('click', 'button', function () {
                var row_data = table.row($(this).parents('tr')).data();
                fetch("/delete-registration", {
                    method: "POST",
                    body: JSON.stringify(row_data),
                }).then((_res) => {
                    window.location.href = '/registrations'
                });
            });
        });
    </script>
{% endblock %}