{% extends "base.html" %} {% block title %}Specializations{% endblock %}
{% block content %}
    <div class="list-group" id="specs">
        {% for spec in specializations %}
            <button class="list-group-item list-group-item-action">{{ spec }}</button>
        {% endfor %}
    </div>
    <br />
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="/">
            <button class="align-self-end btn btn-primary ">&#8592;</button>
        </a>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('#specs').on('click', 'button', function () {
            fetch("/fetch-specialization", {
                method: "POST",
                body: JSON.stringify({specialization_name: this.innerText}),
            }).then((_res) => {
                window.location.href = '/doctor-names'
            });
        });
    </script>
{% endblock %}
